<section class="info-card-section">
  <div class="container">

    <div class="info-card {{ block.background }}">
      <h3>{{ block.title }}</h3>
      <p>{{ block.description }}</p>
    </div>

  </div>
</section>