---
pagination:
  data: contributors
  size: 1
  alias: contributor
  

permalink: "/contributor/{{ contributor.id }}/"

layout: layout.njk
css: /css/style.css
eleventyComputed:
  title: "{{ contributor.name }}"
---

<h1>{{ contributor.name }}</h1>

<p>Email: <a href="mailto:{{ contributor.email }}"> {{ contributor.email }}</a></p>

<p>Phone: {{ contributor.phone }}</p>