<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="auth-box">
  <h2>Sign Up</h2>

  <input type="text" id="username" placeholder="Username">
  <input type="email" id="signupEmail" placeholder="Email">
  <input type="password" id="signupPassword" placeholder="Password">

  <button onclick="signup()">Create Account</button>

  <p style="margin-top:15px; text-align:center;">
    Already have an account?
    <a href="/">Login</a>
  </p>
</div>

<script src="/js/auth.js"></script>
</body>
</html>