<nav>
  <h2><a href="/index/">📚 Book Website</a></h2>

  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#fiction">Fiction</a></li>
    <li><a href="#non_fiction">Non-Fiction</a></li>
    <li><a href="#childrens_books">Children's Books</a></li>
    <li><a href="#book_collection">Book Collection</a></li>
    <li><a href="#contributers">Contributers</a></li>
  </ul>
</nav>